<div *ngIf="!reShuffle">
  <ejs-treegrid id="treegrid" #treegrid [dataSource]='data' [contextMenuItems]='contextMenuItems'
    [treeColumnIndex]='1' pageSettings='pager' childMapping='subtasks' [allowResizing]='hasResize'
    [frozenColumns]='frozenCol' [allowSorting]='hasSorting' [allowMultiSorting]='hasSorting'
    [allowFiltering]='hasFilter' [toolbar]='getEditOption()' [editSettings]='editSettings'
    [allowRowDragAndDrop]='hasDragDrop' [rowDropSettings]='rowDrop' [selectionSettings]='getMultiSelection()'>
    <e-columns>
      <e-column field='taskID' headerText='Task ID' textAlign='Right' width=70></e-column>
      <e-column field='taskName' headerText='Task Name' textAlign='Left' width=200></e-column>
      <e-column field='startDate' headerText='Start Date' textAlign='Right' format='yMd' width=90></e-column>
      <e-column field='duration' headerText='Duration' textAlign='Right' width=80></e-column>
    </e-columns>
  </ejs-treegrid>
</div>

<!-- 

  [allowFiltering]='true' [filterSettings]='filterOptions' [selectionSettings]='getMultiSelection()'
  [allowMultiSorting]='true' [editSettings]='editSettings' [allowRowDragAndDrop]='true' [rowDropSettings]='rowDrop'
 -->

<!-- <ejs-treegrid [contextMenuItems]='contextMenuItems' [dataSource]='getTableData()' [treeColumnIndex]='1' childMapping='subtasks'
  [allowSorting]='true' [allowFiltering]='true' [filterSettings]='filterOptions' [selectionSettings]='selectionOptions'
  [allowSorting]='true' [allowMultiSorting]='true'
  [editSettings]='editSettings' [toolbar]='toolbar' 
  [allowRowDragAndDrop]='true' [treeColumnIndex]='1' [rowDropSettings]='rowDrop'>
  <e-columns>
    <e-column field='taskID' headerText='Task ID' textAlign='Right' width=70></e-column>
    <e-column field='taskName' headerText='Task Name' textAlign='Left' width=200></e-column>
    <e-column field='startDate' headerText='Start Date' textAlign='Right' format='yMd' width=90></e-column>
    <e-column field='duration' headerText='Duration' textAlign='Right' width=80></e-column>
  </e-columns>
</ejs-treegrid> -->
<!-- <ejs-treeview id='treeelement' [fields]='field' [allowMultiSelection]='allowMultiSelection'
  [allowDragAndDrop]='allowDragAndDrop'></ejs-treeview> -->
<!-- <ejs-contextmenu id='contextmenu' target='#target'  [items]= 'contextMenuItems'></ejs-contextmenu> -->
<router-outlet></router-outlet>